#config/pipelines.yaml

pipelines:
  - name: steam_extraction
    type: pipelines.data_extractor_pipeline.DataExtractorPipeline
    extractor_type: steam
    params:
      output_csv: "output/steam_data.csv"
#      extractor_params:
#        sample_size: 1000

  - name: filter_features
    type: pipelines.filter_pipeline.FilterPipeline
    filter_features:
      - name: drop_columns
        params:
          columns_to_drop:  ['Tags' , 'Type', 'URL', 'Metacritic_URL', 'Name', 'Review_Score_Desc']

#  - name: eda #output correlations before exploding columns
#    type: pipelines.eda_pipeline.EDAPipeline
#    params:
#      save_path: "output/eda"
#      steps:
#        - name: boxplots
#          params:
#            exclude_columns: [ 'Id', 'AppId',
#                               'Current_Players_Last_Updated', 'ReleaseDate', 'Genres', 'Platforms',
#                               'Categories', 'Supported_Languages', 'Review_Score_Desc']
#            filename: "boxplots_before_log_transform.png"
#        - name: boxplots
#          params:
#            exclude_columns: [ 'Id', 'AppId',
#                               'Current_Players_Last_Updated', 'ReleaseDate', 'Genres', 'Platforms',
#                               'Categories', 'Supported_Languages', 'Review_Score_Desc' ]
#            log_transform_columns: ['Current_Players', 'Total_Reviews', 'Total_Positive', 'Total_Negative', 'Recommendations' ]
#            filename: "boxplots_after_log_transform.png"

#        - name: dython_correlation_matrix #NOTE: Execute feature engineering before this step so that we can see correlations for temporal data
#          params:
#            exclude_columns: [ 'Id', 'AppId',  'Type', 'URL', 'Metacritic_URL', 'Current_Players_Last_Updated', 'ReleaseDate']
#            annot: true
#            cmap: "coolwarm"
#            log_transform_columns: ['Current_Players', 'Total_Reviews', 'Total_Negative', 'Total_Negative', 'Recommendations' ]
#            filename: "correlation_matrix_after_log_transform.png"


  # anything that changes the shape of the data will need to be in this cleanup block
  - name: data_cleanup
    type: pipelines.data_cleanup_pipeline.DataCleanupPipeline
    params:
      # cleanup_steps is a list of preprocessors (built via PreprocessorFactory)
      cleanup_steps:
#        - name: explode_columns #only do this after EDA to see correlations
#          params:
#            columns: ['Platforms', 'Categories', 'Supported_Languages', 'Genres']
#            sep: ","
        - name: remove_html_tags
          params:
            columns: ['Supported_Languages']
            br_replace: ', '     # optional: replace <br> with ', ' or use ' / ' etc.
            strip: true           # optional: default true
        - name: log_transform
          params:
            columns: ['Current_Players', 'Total_Reviews', 'Total_Positive', 'Total_Negative', 'Recommendations']
            method: 'log1p'
            shift: true
            suffix: ''  # empty means replace original columns; set to '_log' to persist alongside originals


#  - name: eda
#    type: pipelines.eda_pipeline.EDAPipeline
#    params:
#      save_path: "output/eda"
#      steps:
#        - name: class_balance
#          params:
#            exclude_columns: [ 'Id', 'AppId', 'Type', 'URL', 'Metacritic_URL', 'ReleaseDate', 'Current_Players_Last_Updated']
#            label_max_chars: 10
#            top_n: 15
#            log_transform_columns: ['Current_Players', 'Total_Reviews', 'Total_Positive', 'Total_Negative', 'Recommendations' ]
#        - name: describe_info
#        - name: duplicate_check
#    dataset:
#      target:  null
#      text_field: "AppID"

#  - name: split_data
#    type: pipelines.data_splitter_pipeline.DataSplitterPipeline
#    params:
#      target_column: "Genre"
#      test_size: 0.2
#      random_state: 42


#  - name: preprocessing
#    type: pipelines.preprocessing_pipeline.PreprocessingPipeline
#    params:
#      text_field: 'Description'
#      data_preprocessors:
#        - name: temporal_features
#          params:
#            date_column: 'ReleaseDate'
#            days_since: true
#            prefix: 'release'

  - name: preprocessing
    type: pipelines.preprocessing_pipeline.PreprocessingPipeline
    params:
      text_field: 'Developers'
      preprocessors:
        - name: lowercase
          applies_to: text
        - name: temporal_features
          applies_to: data   # <-- important: temporal features operate on the DataFrame
          params:
            date_column: 'Release_Date'
            days_since: true
            prefix: 'release'


  - name: feature_encoding
    type: pipelines.feature_encoder_pipeline.FeatureEncoderPipeline
    params:
      # Define encoders and the columns they should be applied to. Supported encoder names:
      #   - one_hot / onehot    -> OneHotEncoder (single-label categorical)
      #   - multihot / multi_hot -> MultiHotEncoder (multi-label cells, e.g. comma-separated)
      #   - sklearn_label / label -> SklearnLabelEncoder (integer label encoding)
      encoders:
        - name: multihot
          columns: ['Platforms', 'Supported_Languages', 'Genres', 'Categories', 'Developers', 'Publishers']
          params:
            sep: ','



  - name: feature_scaling
    type: pipelines.feature_scaler_pipeline.FeatureScalerPipeline
    scaler:
      name: standard
      params:
        with_mean: true
        with_std: true
      columns: ['Current_Players', 'Total_Reviews', 'Total_Negative', 'Total_Positive', 'Recommendations' ]



#  # anything that changes the shape of the data will need to be in this cleanup block
#  - name: data_cleanup
#    type: pipelines.data_cleanup_pipeline.DataCleanupPipeline
#    params:
#      # cleanup_steps is a list of preprocessors (built via PreprocessorFactory)
#      cleanup_steps:
#        - name: remove_duplicates
#          params:
#            field: "gameID"
#            keep: "first"
#            case_sensitive: false
#            dropna: true
##        - name: filter_rows
##          params:
##            field: "Genre"
##            values: [ "All" ]
##            operator: "equals"
##            case_sensitive: false
#        - name: filter_rows
#          params:
#            field: "Description"
#            values: [null, ""]
#            operator: "in"
#            case_sensitive: false
#        - name: merge_features
#          params:
#            columns: ["Description", "Title"]
#            merge_to: "Description"
#        - name: remove_urls
#          params:
#            field: "Description"
#            pattern: 'https?://\S+|www\.\S+'
#        - name: remove_repeated_characters
#          params:
#            field: "Description"
#            pattern: "(.)\\1{2,}"
#        - name: remove_punctuation_noise
#          params:
#            field: "Description"
#            pattern: '([!?.,])\1+'
#        - name: remove_whitespace
#          params:
#            field: "Description"
#        - name: stopword_remover
#          params:
#            language: "english"
#            lower: true
#            field: "Description"

#------------------------------------------------------------
# Clustering
#------------------------------------------------------------
#  - name: clustering_euclidean
#    type: pipelines.clustering_pipeline.ClusteringPipeline
#    params:
#      text_field: "Description"
#      genre_field: "Genre"
#      filter_genre: "All"
#      vectorizer:
#        vectorizer_name: "tfidf"
#        vectorizer_field: "Description"
#        vectorizer_params:
#          max_features: 10000
#          ngram_range: [ 4, 6 ]
#          analyzer: "char_wb"
#      clusterer:
#         name: "hdbscan"
#         params:
#            min_cluster_size: 50
#            min_samples: 25
#            #metric: "cosine" # memory issues with cosine on large datasets
#            metric: "euclidean"
#      reducer:
#         name: "umap"
#         params:
#            n_components: 5
#            n_neighbors: 15
#      visualisations:
#         name: cluster_plot
#         params:
#            output_dir: "output/clustering_euclidean"
#            figsize: [10, 8]
#            xlabel: "UMAP Dimension 1"
#            ylabel: "UMAP Dimension 2"
#            zlabel: "UMAP Dimension 3"
#            title: "HDBSCAN Clustering of Roblox Game Descriptions"
#            xticks_rotation: 45
#            label_min_cluster_size: 250
#            dimensions: 3

