#config/pipelines.yaml

pipelines:
  - name: steam_extraction
    type: pipelines.data_extractor_pipeline.DataExtractorPipeline
    extractor_type: steam
    params:
      output_csv: "output/steam_data.csv"
#      extractor_params:
#        sample_size: 1000


#  # anything that changes the shape of the data will need to be in this cleanup block
#  - name: data_cleanup
#    type: pipelines.data_cleanup_pipeline.DataCleanupPipeline
#    params:
#      # cleanup_steps is a list of preprocessors (built via PreprocessorFactory)
#      cleanup_steps:
#        - name: remove_duplicates
#          params:
#            field: "gameID"
#            keep: "first"
#            case_sensitive: false
#            dropna: true
##        - name: filter_rows
##          params:
##            field: "Genre"
##            values: [ "All" ]
##            operator: "equals"
##            case_sensitive: false
#        - name: filter_rows
#          params:
#            field: "Description"
#            values: [null, ""]
#            operator: "in"
#            case_sensitive: false
#        - name: merge_features
#          params:
#            columns: ["Description", "Title"]
#            merge_to: "Description"
#        - name: remove_urls
#          params:
#            field: "Description"
#            pattern: 'https?://\S+|www\.\S+'
#        - name: remove_repeated_characters
#          params:
#            field: "Description"
#            pattern: "(.)\\1{2,}"
#        - name: remove_punctuation_noise
#          params:
#            field: "Description"
#            pattern: '([!?.,])\1+'
#        - name: remove_whitespace
#          params:
#            field: "Description"
#        - name: stopword_remover
#          params:
#            language: "english"
#            lower: true
#            field: "Description"


  - name: filter_features
    type: pipelines.filter_pipeline.FilterPipeline
    filter_features:
      - name: drop_columns
        params:
          columns_to_drop:
            [ 'Tags' ]

  - name: eda
    type: pipelines.eda_pipeline.EDAPipeline
    params:
      save_path: "output/eda"
      steps:
        - name: class_balance
#        - name: wordcloud_global
#        - name: wordcloud_by_class
        - name: describe_info
        - name: duplicate_check
    dataset:
      target:  null
      text_field: "AppID"

#------------------------------------------------------------
# Clustering
#------------------------------------------------------------
#  - name: clustering_euclidean
#    type: pipelines.clustering_pipeline.ClusteringPipeline
#    params:
#      text_field: "Description"
#      genre_field: "Genre"
#      filter_genre: "All"
#      vectorizer:
#        vectorizer_name: "tfidf"
#        vectorizer_field: "Description"
#        vectorizer_params:
#          max_features: 10000
#          ngram_range: [ 4, 6 ]
#          analyzer: "char_wb"
#      clusterer:
#         name: "hdbscan"
#         params:
#            min_cluster_size: 50
#            min_samples: 25
#            #metric: "cosine" # memory issues with cosine on large datasets
#            metric: "euclidean"
#      reducer:
#         name: "umap"
#         params:
#            n_components: 5
#            n_neighbors: 15
#      visualisations:
#         name: cluster_plot
#         params:
#            output_dir: "output/clustering_euclidean"
#            figsize: [10, 8]
#            xlabel: "UMAP Dimension 1"
#            ylabel: "UMAP Dimension 2"
#            zlabel: "UMAP Dimension 3"
#            title: "HDBSCAN Clustering of Roblox Game Descriptions"
#            xticks_rotation: 45
#            label_min_cluster_size: 250
#            dimensions: 3
